.main-nav{
    min-height: 70px;
    padding-left: 40px;
}
.navLogo, .navLogo:hover {
    color: #00285F; 
}

.main-menu{
    display: flex;
    font-size: 18px;


}
.main-menu a, .main-menu a:hover {
    color: #00285F;
}

.main-menu a:hover {
    font-weight: 700;
}

.main-menu a.active {
    color: #00285F;
    font-weight: 700;
}
.navbar-dark .navbar-toggler{
    color: #00285F;
}

@media (min-width: 768px){
    .menuItens {
        justify-content: flex-end;
    }
    .main-nav {
        padding: 0 10px;
    }

    .main-menu {
        gap: 70px;
    }
}

@media (min-width: 1280px){
    .container-fluid {
        width: 979px;
    }
}